<%= turbo_stream_from dom_id(current_user) %>
<div class="container">
  <div class="chat-wrapper">
    <div class="text-center text-light">
      <h1 class="mt-5">Chatroom</h1>
      <p class=>Welcome <%= current_user.username %>!</p>
    </div>
    <div class="card mt-3">
      <div class="card-body chatbox d-flex justify-content-end align-items-end">
        <div class="chat-content">
          <%= render partial: "messages/chatbox", locals: { messages: @messages } %>
        </div>
        <div class="w-100">
          <%= render partial: "messages/form", locals: { message: @message, current_user: @current_user } %>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-warning mt-3" %>
    <% end %>
  </div>
</div>