<%= turbo_stream_from dom_id(current_user) %>
<div class="container">
  <div class="chat-wrapper">
    <div class="col-md-12">
      <div class=text-center>
        <div class="text-light">
          <h1 class="mt-5">Chatroom</h1>
          <p class=>Welcome <%= current_user.username %>!</p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col chat-content">
              <%= render partial: "messages/chatbox", locals: { messages: @messages } %>
              <%= render partial: "messages/form", locals: { message: @message } %>
            </div>
          </div>        
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</div>